streamlit == 1.43.2
langchain == 0.3.25
langchain-community == 0.3.24
langchain-huggingface
faiss-cpu == 1.11.0
transformers == 4.50.3
sentence-transformers == 4.0.2
beautifulsoup4 == 4.12.3
requests == 2.32.3
groq == 0.25.0
